@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  background-color: #f0f8ff;
  color: #404040;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

input[type="text"],
input[type="file"],
input[type="email"],
input[type="tel"],
textarea {
  appearance: none;
  border: none;
}

input:focus,
textarea:focus {
  outline: none;
}

input[type="file"] {
  display: none;
}

button {
  appearance: none;
  border: none;
  background: none;

  cursor: pointer;
}

button:disabled {
  opacity: 0.5;
}

.h1 {
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  word-spacing: 1.5rem;
}

.h4 {
  font-size: 1rem;
  font-weight: 600;
}

/* APP COMPONENT */

.container {
  width: 100%;
  display: grid;
  /* grid-template-columns: repeat(2, 1fr); */
  grid-template-columns: 2fr 3fr;
}

/* /////////////// HEADING ///////////////////////// */
.heading {
  grid-column: span 2;
  text-align: center;
  padding: 2rem 1rem;
  text-transform: uppercase;
}

/* ////////////////// CONTROLS BUTTONS ///////////////// */
.controls {
  grid-column: span 2;
  display: flex;
  justify-content: center;
  gap: 10rem;
  padding: 2rem 5rem;
}

.control-btn {
  flex: 1;
  padding: 0.75rem 0rem;

  font-size: 1.1rem;
  color: #fff;
  letter-spacing: 0.1rem;
  border-radius: 0.25rem;
}

.control-btn:active {
  opacity: 0.85;
}

#btn-load {
  background-color: #93c5fd;
}
#btn-reset {
  background-color: #f87171;
}

#btn-pdf {
  background-color: #34d399;
}

/* /////////////// CV FORMS ///////////////////// */
.cv-form {
  width: 100%;
}

.form {
  position: relative;
  padding: 2rem 1.5rem;
}

.form-heading-skills {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

.form-heading-skills > .form-checkbox {
  margin-right: 1rem;
  width: 1.25rem;
  height: 1.25rem;
  background-color: #9ca3af;
}

.form-column {
  width: 100%;
}

.form-column:not(:first-child) {
  margin-top: 1.5rem;
  padding: 0.5rem 0;
}

.form-column > input,
.form-column > textarea {
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

.form-column > input,
.form-column > textarea,
.custom-file-input::before {
  padding: 0.825rem;
  margin-bottom: 0.75rem;

  border-radius: 0.25rem;
}

.form-column > textarea {
  resize: vertical;
  height: 7.5rem;
}

.custom-file-input::before {
  content: "photo";
  display: block;
  background-color: #fff;

  outline: none;
  white-space: no-wrap;
  cursor: pointer;

  font-size: 0.8rem;
}

.form-btns {
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  gap: 2.5rem;
}

.form-btn {
  flex: 1;
  background-color: #9ca3af;
  /* width: 7.5rem; */
  padding: 0.85rem 0;

  color: #e3e3e3;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 0.25rem;
}

.form-btn:active {
  opacity: 0.75;
}

/* /////////////// CV RESUME ///////////////////// */

.resume-draft {
  display: grid;
  grid-template-columns: 17rem 1fr;
  /* grid-template-columns: 1fr 2fr; */

  width: 100%;
  max-width: 60rem;
  height: 100vh;
  min-height: 50rem;
  background-color: #dae7f6;

  position: sticky;
  top: 0;
}

.resume-column-sm {
  padding: 1rem;
  background-color: #0369a1;
  color: #f7f8f8;
}

.resume-column-lg {
  padding: 1rem;
  background-color: #fff;
}

h2.resume-name {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

h3.resume-title {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.resume-photo {
  display: block;
  height: 16.5rem;
  width: 100%;
  object-fit: cover;
  background-color: #93c5fd;
  margin-bottom: 1.5rem;
}

.resume-personal-details {
  margin-bottom: 1.5rem;
}

.resume-personal-details > .h4 {
  padding-bottom: 0.25rem;
  border-bottom: 1px solid #e2e2e24c;
  margin-bottom: 0.5rem;
}

.resume-personal-details > .resume-personal-row:not(:last-child) {
  margin-bottom: 0.5rem;
}

.resume-personal-row {
  font-size: 0.85rem;
}

.resume-info:not(:last-child) {
  margin-bottom: 2.5rem;
}

.resume-info > .h4 {
  color: #0369a1;
  border-bottom: 1px solid #e2e2e2;
  padding-bottom: 0.25rem;
  margin-bottom: 0.5rem;
}

.resume-info > .resume-timeline:not(:last-child) {
  margin-bottom: 1rem;
}

.resume-timeline {
  display: flex;
  justify-content: flex-start;
}

.resume-date {
  width: 15rem;
  font-weight: 600;
}

.resume-content {
  width: 100%;
  max-width: 30rem;
  text-align: left;
}

.resume-university,
.resume-position {
  font-weight: 600;
}
